/data/log/tensorboard_log/*
/data/model/*
!/data/model/share

/data/res/*
/output/*
!/data/res/*_.npy
!/output/*_.png

/data/bak/*
__pycache__/
/.vscode/*
.DS_Store
!/.vscode/launch.json
/*.log

/wandb/*
/outputs/*
/multirun/*

/.env
/data/*
/venv
/venv_
/venv__
/venv___

/.env
/tmp
a.out

.devcontainer/mujoco/*