/data/log/tensorboard_log/*
/data/model/*
!/data/model/share

/data/res/*
/output/*
!/data/res/*_.npy
!/output/*_.png

/data/bak/*
__pycache__/
/.vscode/
.DS_Store

/wandb/*
/outputs/*
/multirun/*

/.env
/data/*
/venv
